.form-register__input-footer,
.form-login__input-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 23px;
}

.form-register__error-message,
.form-login__error-message  {
  color: red;
  font-size: 15px;
  margin: 0;
}

.form-register__submit-button,
.form-login__submit-button  {
  border: solid 2px black;
  background-color: black;
  color: white;
  padding: 10px 8px;
}

.form-register__submit-button:hover,
.form-login__submit-button:hover {
  background-color: white;
  color: black;
}

.form-register,
.form-login {
  gap: 8px;
  padding: 20px;
  border: 3px black solid;
}

.form-register h1,
.form-login h1 {
  text-align: center;
  font-size: x-large;
}
