.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  padding: 16px 0 24px;
  border-bottom: 2px solid black;
}

.navigation-bar__brand {
  font-size: 1.5rem;
  font-weight: 700;
}

.navigation-bar__actions {
  display: flex;
  align-items: center;
}

.login-button,
.logout-button {
  min-width: 70px;
  height: 42px;
}
