.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 20px 20px;
  border-bottom: 2px solid black;
}

.navigation-bar__brand {
  font-size: x-large;
  font-weight: bold;
}

.navigation-bar__actions {
  display: flex;
  align-items: center;
}

.login-button,
.logout-button {
  min-width: 70px;
  height: 42px;
}
