.todo-table__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-table__footer-error-message {
  color: var(--color-error);
  font-size: 15px;
}

.todo-table__footer-char-counter {
  font-size: 15px;
  color: var(--color-muted);
  text-align: right;
  flex: 1;
}

.todo-table__textarea {
  width: 100%;
  border: solid 2px black;
  padding: 10px 12px;
}

.todo-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.todo-table__header-cell {
  background-color: black;
  color: white;
  position: sticky;
  top: 0px;
  padding: 10px 8px;
  z-index: 2;
  border-left: solid 2px black;
  border-right: solid 2px black;
}

.todo-table__cell {
  border-top: solid 2px black;
  border-left: solid 2px black;
  border-right: solid 2px black;
  padding: 10px 8px;
  word-break: break-word;
  vertical-align: top;
  white-space: pre-wrap;
  font-size: 16px;
}

.todo-table__header-cell--name {
  width: 28.57%;
}

.todo-table__header-cell--description {
  width: 42.85%;
}

.todo-table__header-cell--date {
  width: 14.28%;
}

.todo-table__row--remove {
  background-color: var(--color-light-grey);
}

.todo-table__row--remove .todo-table__cell--name,
.todo-table__row--remove .todo-table__cell--description,
.todo-table__row--remove .todo-table__cell--date {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.todo-table__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.todo-table__action-button {
  width: 50%;
  padding: 10px 0;
}
