.todo-dashboard {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.todo-dashboard__container {
  max-width: 1500px;
  display: flex;
  flex-direction:column;
  min-height: 0;
}

.todo-table__container {
  overflow-y: auto;
  overscroll-behavior-y: none;
  margin: 0 0 20px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  max-width: 100%;
  padding-right: 4px;
}
