.todo-dashboard-controls {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
  position: sticky;
  top: 0;
  padding: 20px 0 20px 0;
  background-color: white;
}

.todo-dashboard-controls__search {
  flex: 1;
}

.todo-dashboard-controls__create {
  flex-shrink: 0;
}

.todo-filter-select {
  max-width: 200px;
  cursor: pointer;
  line-height: 1;
  box-sizing: border-box;
  font-weight: bold;
}


