.todo-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  flex-direction: column;
  margin: 50px 0;
}

.todo-dashboard__container {
  width: 100%;
  max-width: 1300px;
}
